apiVersion: apps/v1
kind: Deployment
metadata:
  name: aceest-fitness-stable
spec:
  replicas: 3
  selector:
    matchLabels:
      app: aceest-fitness
      version: stable
  template:
    metadata:
      labels:
        app: aceest-fitness
        version: stable
    spec:
      containers:
        - name: aceest-fitness
          image: aashishkumargaur/aceest-fitness:v1.0  # stable image
          ports:
            - containerPort: 8000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: aceest-fitness-canary
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aceest-fitness
      version: canary
  template:
    metadata:
      labels:
        app: aceest-fitness
        version: canary
    spec:
      containers:
        - name: aceest-fitness
          image: aashishkumargaur/aceest-fitness:v1.0  # new image
          ports:
            - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: aceest-fitness-canary-svc
spec:
  type: NodePort
  selector:
    app: aceest-fitness
  ports:
    - port: 80
      targetPort: 8000
      nodePort: 30081
